<!-- <p>class1 works!</p>


Enter Name:
<input type="text" #message placeholder="" [(ngModel)]="enteredText"><br>

 Enter Paasword:<input type="password" #password placeholder="" ngModel>
<button (click)="OnBtnClick(data)">Send</button>

{{today|date:"dd/MM/yy/hh:mm:ss"}}<br>


{{a|currency}}<br>-->


<!-- {{p|percent}} -->

{{p|percent}}
<p>kys branch commit </p>


{{decimal|date:"dd/mm/yy"}} -->

<p>sgfsfshs</p>


<div class="container">


<form #loginForm="ngForm" (ngSubmit)="getLoginFormData(loginForm.value)">
    <input type="text" placeholder="Enter"  name="name" ngModel required><br><br>
<input type="password" placeholder="password" name="password" ngModel required><br><br>


<p>hello , i have added this
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magni officiis. Repellendus rerum accusantium doloremque beatae atque perspiciatis quidem, quas, tenetur vat!</p>
<p>hello , i have added this
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magni officiis. Repellendus rerum accusantium doloremque beatae atque perspiciatis quidem, quas, tenetur vat!</p>


    

{{decimal|date:"dd/mm/yy"}}

<label for="text">Enter Name</label> <br>
<input type="text" placeholder="name"> <br>
<label for="text">Enter E-mail</label> <br>
<input type="email" placeholder="Enter Email"> <br>
<label for="number">Mobile Number</label>
<input type="number" placeholder="enter number">

<button>Submit</button>




<div class="container"><div>hsuhfu</div>


    <form #loginForm="ngForm" (ngSubmit)="getLoginFormData(loginForm.value)">
        <input type="text" placeholder="Enter" name="name" ngModel required><br><br>
        <input type="password" placeholder="password" name="password" ngModel required><br><br>

          <button type="submit">Submit</button>

            
            <button>Submit </button>
            <button (click)="clickon()">Submit like and </button>
        

    </form>
    <p>{{named}}</p>

</div>

<div *ngFor="let list of anyArray ; let i = index">
    <ul>
        <li>Name : {{list.firstname}}, Surname : {{list.lastname}}, Age: {{list.age}}, Gender : {{list.gender}}</li>
    </ul>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Name </th>
                <th>Surname</th>
                <th>Agegit</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of anyArray">
                <td>{{list.firstname}}</td>
                <td>{{list.lastname}}</td>
                <td>{{list.age}}</td>
                <td>{{list.gender}}</td>
            </tr>
        </tbody>
    </table>
</div>
=======

        <p>hello , i have added this

            L quidem, quas, tenetur vat!</p>

           ing elit. Asperiores, magni officiis. Repellendus rerum
            accusantium doloremque beatae atque perspiciatis quidem, quas, tenetur vat!</p>

        <p>hello , i have added this
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, magni officiis. Repellendus rerum
            accusantium doloremque beatae atque perspiciatis quidem, quas, tenetur vat!</p>
        <p>hello , i have added this
            Lorem ipsum dolor  atque perspiciatis quidem, quas, tenetur vat!</p>

        {{decimal|date:"dd/mm/yy"}}

        <label for="text">Enter Name</label> <br>
        <input type="text" placeholder="name"> <br>
        <label for="text">Enter E-mail</label> <br>
        <input type="email" placeholder="Enter Email"> <br>
        <label for="number">Mobile Number</label>
        <input type="number" placeholder="enter number">
        <label for=""><Address></Address></label>
        <input type="number" placeholder="Address">


        <button>Submit</button>



        <div class="container">

            <form #loginForm="ngForm" (ngSubmit)="getLoginFormData(loginForm.value)">
                <input type="text" placeholder="Enter" name="name" ngModel required><br><br>
                <input type="password" placeholder="password" name="password" ngModel required><br><br>


                <form #loginForm="ngForm" (ngSubmit)="getLoginFormData(loginForm.value)">
                    <input type="text" placeholder="Enter" name="name" ngModel required><br><br>
                    <input type="password" placeholder="password" name="password" ngModel required><br><br>
                    <button>Submit</button>

                    <button (click)="clickon()">Submit</button>

                    <button>Submit </button>
                    <button (click)="clickon()">Submit like and </button>
                    <p>onsectetupellat minima. Dolorem laboriosam expedita saepe est numquam error mollitia iusto ex unde rem necessitatibus, dolorum doloribus illum enim adipisci animi ipsam laborum eveniet sint?</p>
                </form>

                <p>{{named}}</p>

        </div>

        <div *ngFor="let list of anyArray ; let i = index">
            <ul>
                <li>Name : {{list.firstname}}, Surname : {{list.lastname}}, Age: {{list.age}}, Gender : {{list.gender}}
                </li>
            </ul>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Surname</th>
                        <th>Agegit</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <p>sunil singh rathore</p>
                <tbody>
                    <tr *ngFor="let list of anyArray">
                        <td>{{list.firstname}}</td>
                        <td>{{list.lastname}}</td>
                        <td>{{list.age}}</td>
                        <td>{{list.gender}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

